### Loading the file shared by Shreyas

In [32]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_rows', 1000)

df_SJ = pd.read_csv("fema_dataset.csv")

In [24]:
# Checking the first few rows 
df_SJ.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date,Place Code,Declared County/Area,Declaration Request Number
0,4419,Yes,No,Yes,Yes,AL,3/5/2019,DR,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",3/3/2019,3/3/2019,NaN,99081.0,Lee (County),19006
1,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99009.0,Clallam (County),19005
2,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99027.0,Grays Harbor (County),19005
3,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99029.0,Island (County),19005
4,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99031.0,Jefferson (County),19005

In [ ]:
#  check the data type

In [25]:
df_SJ.dtypes

Disaster Number                 int64
IH Program Declared            object
IA Program Declared            object
PA Program Declared            object
HM Program Declared            object
State                          object
Declaration Date               object
Disaster Type                  object
Incident Type                  object
Title                          object
Incident Begin Date            object
Incident End Date              object
Disaster Close Out Date        object
Place Code                    float64
Declared County/Area           object
Declaration Request Number      int64
dtype: object

### FEMA Dataset from my local machine

In [15]:
df_fema = pd.read_excel("data.gov.FEMADeclarations.3.15.19.xlsx",  sheet_name="Sheet4")

In [16]:
df_fema.shape

(48555, 16)

In [ ]:
# these two datasets have the same shape

In [168]:
df_fema.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Disaster Close Out Date,Place Code,Declared County/Area,Declaration Request Number
0,4419,Yes,No,Yes,Yes,AL,2019-03-05 17:33:00,DR,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",2019-03-03 00:01:00,2019-03-03 23:59:00,NaT,99081.0,Lee (County),19006
1,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,NaT,99009.0,Clallam (County),19005
2,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,NaT,99027.0,Grays Harbor (County),19005
3,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,NaT,99029.0,Island (County),19005
4,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,NaT,99031.0,Jefferson (County),19005

#### difference in data type df_SJ vs df_FEMA
I might want to choose df_FEMA because I want to keep the datatime data format for columns containing data time info

In [20]:
df_fema.dtypes

Disaster Number                        int64
IH Program Declared                   object
IA Program Declared                   object
PA Program Declared                   object
HM Program Declared                   object
State                                 object
Declaration Date              datetime64[ns]
Disaster Type                         object
Incident Type                         object
Title                                 object
Incident Begin Date           datetime64[ns]
Incident End Date             datetime64[ns]
Disaster Close Out Date       datetime64[ns]
Place Code                           float64
Declared County/Area                  object
Declaration Request Number             int64
dtype: object

In [27]:
# Let's check the missing vlaues
df_fema.isna().sum()

Disaster Number                  0
IH Program Declared              0
IA Program Declared              0
PA Program Declared              0
HM Program Declared              0
State                            0
Declaration Date                 0
Disaster Type                    0
Incident Type                    0
Title                            0
Incident Begin Date              0
Incident End Date              339
Disaster Close Out Date       9385
Place Code                     197
Declared County/Area           197
Declaration Request Number       0
dtype: int64

In [28]:
df_fema.columns

Index(['Disaster Number', 'IH Program Declared', 'IA Program Declared',
       'PA Program Declared', 'HM Program Declared', 'State ',
       'Declaration Date', 'Disaster Type', 'Incident Type', 'Title',
       'Incident Begin Date', 'Incident End Date', 'Disaster Close Out Date',
       'Place Code', 'Declared County/Area', 'Declaration Request Number'],
      dtype='object')

#### drop columns that aren't necessary for now

In [40]:
df_fema_columns_dropped = df_fema.drop(columns=["Disaster Close Out Date", "Declaration Request Number" ])

In [41]:
df_fema_columns_dropped['Declared County/Area'].isna().sum()

197

### Let's drop the null counties (misisng county name/code)

In [42]:
df_fema_no_missing = df_fema_columns_dropped.dropna()

In [43]:
df_fema_no_missing.isna().sum()

Disaster Number         0
IH Program Declared     0
IA Program Declared     0
PA Program Declared     0
HM Program Declared     0
State                   0
Declaration Date        0
Disaster Type           0
Incident Type           0
Title                   0
Incident Begin Date     0
Incident End Date       0
Place Code              0
Declared County/Area    0
dtype: int64

In [44]:
df.shape

(48555, 16)

### Load the US state and County files

In [64]:
#  states' names
df_states = pd.read_csv("us-state-names.csv", sep='\t')

In [66]:
df_states.head()

   id code        name
0   1   AL     Alabama
1   2   AK      Alaska
2   4   AZ     Arizona
3   5   AR    Arkansas
4   6   CA  California

In [59]:
# US counties 
df_counties = pd.read_csv("us-county-names.csv", sep='\t')

In [67]:
df_counties.head()

     id     name
0  1000  Alabama
1  1001  Autauga
2  1003  Baldwin
3  1005  Barbour
4  1007     Bibb

In [72]:
df_fema_no_missing.columns

Index(['Disaster Number', 'IH Program Declared', 'IA Program Declared',
       'PA Program Declared', 'HM Program Declared', 'State ',
       'Declaration Date', 'Disaster Type', 'Incident Type', 'Title',
       'Incident Begin Date', 'Incident End Date', 'Place Code',
       'Declared County/Area'],
      dtype='object')

In [75]:
df_fema_sorted_by_state = df_fema_no_missing.sort_values(by=['State '])

In [169]:
df_fema_sorted_by_state.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area
17711,1618,No,No,Yes,Yes,AK,2005-12-09 18:36:00,DR,Severe Storm(s),"SEVERE FALL STORM, TIDAL SURGES, AND FLOODING",2005-09-22 20:00:00,2005-09-26,6362.0,Bering Strait Regional Educational Attendance ...
25969,1440,Yes,Yes,Yes,Yes,AK,2002-11-08 19:25:00,DR,Earthquake,EARTHQUAKE,2002-11-03 00:55:00,2002-11-10,99170.0,Matanuska-Susitna (Borough)
25970,1440,Yes,Yes,Yes,Yes,AK,2002-11-08 19:25:00,DR,Earthquake,EARTHQUAKE,2002-11-03 00:55:00,2002-11-10,99240.0,Southeast Fairbanks (Census Area)
25971,1440,Yes,Yes,Yes,Yes,AK,2002-11-08 19:25:00,DR,Earthquake,EARTHQUAKE,2002-11-03 00:55:00,2002-11-10,99261.0,Valdez-Cordova (Census Area)
25972,1440,Yes,Yes,Yes,Yes,AK,2002-11-08 19:25:00,DR,Earthquake,EARTHQUAKE,2002-11-03 00:55:00,2002-11-10,99290.0,Yukon-Koyukuk (Census Area)

In [74]:
df_states.sort_values(by=['code'])

    id code                                 name
1    2   AK                               Alaska
0    1   AL                              Alabama
3    5   AR                             Arkansas
51  60   AS                        America Samoa
2    4   AZ                              Arizona
4    6   CA                           California
5    8   CO                             Colorado
6    9   CT                          Connecticut
8   11   DC                 District of Columbia
7   10   DE                             Delaware
9   12   FL                              Florida
52  64   FM       Federated States of Micronesia
10  13   GA                              Georgia
53  66   GU                                 Guam
11  15   HI                               Hawaii
15  19   IA                                 Iowa
12  16   ID                                Idaho
13  17   IL                             Illinois
14  18   IN                              Indiana
16  20   KS                               Kansas
17  21   KY                             Kentucky
18  22   LA                            Louisiana
21  25   MA                        Massachusetts
20  24   MD                             Maryland
19  23   ME                                Maine
54  68   MH                     Marshall Islands
22  26   MI                             Michigan
23  27   MN                            Minnesota
25  29   MO                             Missouri
55  69   MP             Northern Mariana Islands
24  28   MS                          Mississippi
26  30   MT                              Montana
33  37   NC                       North Carolina
34  38   ND                         North Dakota
27  31   NE                             Nebraska
29  33   NH                        New Hampshire
30  34   NJ                           New Jersey
31  35   NM                           New Mexico
28  32   NV                               Nevada
32  36   NY                             New York
35  39   OH                                 Ohio
36  40   OK                             Oklahoma
37  41   OR                               Oregon
38  42   PA                         Pennsylvania
57  72   PR                          Puerto Rico
56  70   PW                                Palau
39  44   RI                         Rhode Island
40  45   SC                       South Carolina
41  46   SD                         South Dakota
42  47   TN                            Tennessee
43  48   TX                                Texas
58  74   UM          U.S. Minor Outlying Islands
44  49   UT                                 Utah
46  51   VA                             Virginia
59  78   VI  Virgin Islands of the United States
45  50   VT                              Vermont
47  53   WA                           Washington
49  55   WI                            Wisconsin
48  54   WV                        West Virginia
50  56   WY                              Wyoming

In [77]:
state_dict = dict(zip(df_states.code, df_states.name))

In [78]:
state_dict

{'AL': 'Alabama',
 'AK': 'Alaska',
 'AZ': 'Arizona',
 'AR': 'Arkansas',
 'CA': 'California',
 'CO': 'Colorado',
 'CT': 'Connecticut',
 'DE': 'Delaware',
 'DC': 'District of Columbia',
 'FL': 'Florida',
 'GA': 'Georgia',
 'HI': 'Hawaii',
 'ID': 'Idaho',
 'IL': 'Illinois',
 'IN': 'Indiana',
 'IA': 'Iowa',
 'KS': 'Kansas',
 'KY': 'Kentucky',
 'LA': 'Louisiana',
 'ME': 'Maine',
 'MD': 'Maryland',
 'MA': 'Massachusetts',
 'MI': 'Michigan',
 'MN': 'Minnesota',
 'MS': 'Mississippi',
 'MO': 'Missouri',
 'MT': 'Montana',
 'NE': 'Nebraska',
 'NV': 'Nevada',
 'NH': 'New Hampshire',
 'NJ': 'New Jersey',
 'NM': 'New Mexico',
 'NY': 'New York',
 'NC': 'North Carolina',
 'ND': 'North Dakota',
 'OH': 'Ohio',
 'OK': 'Oklahoma',
 'OR': 'Oregon',
 'PA': 'Pennsylvania',
 'RI': 'Rhode Island',
 'SC': 'South Carolina',
 'SD': 'South Dakota',
 'TN': 'Tennessee',
 'TX': 'Texas',
 'UT': 'Utah',
 'VT': 'Vermont',
 'VA': 'Virginia',
 'WA': 'Washington',
 'WV': 'West Virginia',
 'WI': 'Wisconsin',
 'WY': 'Wyoming',
 'AS': 'America Samoa',
 'FM': 'Federated States of Micronesia',
 'GU': 'Guam',
 'MH': 'Marshall Islands',
 'MP': 'Northern Mariana Islands',
 'PW': 'Palau',
 'PR': 'Puerto Rico',
 'UM': 'U.S. Minor Outlying Islands',
 'VI': 'Virgin Islands of the United States'}

In [79]:
df_fema_no_missing['State_name'] = np.nan

/home/mishraka/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [80]:
df_fema_no_missing.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area,State_name
0,4419,Yes,No,Yes,Yes,AL,2019-03-05 17:33:00,DR,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",2019-03-03 00:01:00,2019-03-03 23:59:00,99081.0,Lee (County),NaN
1,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99009.0,Clallam (County),NaN
2,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99027.0,Grays Harbor (County),NaN
3,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99029.0,Island (County),NaN
4,4418,No,No,Yes,Yes,WA,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99031.0,Jefferson (County),NaN

In [113]:
for key, value in state_dict.items():
    print(key, value)

AL Alabama
AK Alaska
AZ Arizona
AR Arkansas
CA California
CO Colorado
CT Connecticut
DE Delaware
DC District of Columbia
FL Florida
GA Georgia
HI Hawaii
ID Idaho
IL Illinois
IN Indiana
IA Iowa
KS Kansas
KY Kentucky
LA Louisiana
ME Maine
MD Maryland
MA Massachusetts
MI Michigan
MN Minnesota
MS Mississippi
MO Missouri
MT Montana
NE Nebraska
NV Nevada
NH New Hampshire
NJ New Jersey
NM New Mexico
NY New York
NC North Carolina
ND North Dakota
OH Ohio
OK Oklahoma
OR Oregon
PA Pennsylvania
RI Rhode Island
SC South Carolina
SD South Dakota
TN Tennessee
TX Texas
UT Utah
VT Vermont
VA Virginia
WA Washington
WV West Virginia
WI Wisconsin
WY Wyoming
AS America Samoa
FM Federated States of Micronesia
GU Guam
MH Marshall Islands
MP Northern Mariana Islands
PW Palau
PR Puerto Rico
UM U.S. Minor Outlying Islands
VI Virgin Islands of the United States

In [ ]:
# this code below doesn't work
# because of the missing index values
# because I deleted some misisng rows earlier 
# thus iterating over index doesn't work

In [ ]:
# %%time
# for i in range(0, 500):
#     state_short = df_fema_no_missing['State '][i]
#     state_full_name = state_dict[state_short]
# #     print(state_short, state_full_name)
#     df_fema_no_missing['State_name'][i] = state_full_name

#### adding State names to the dataframe

In [165]:
for index, row_ptr in df_fema_no_missing.iterrows():
    state_short = row_ptr['State ']
    state_full_name = state_dict[state_short]
#     print(state_short, state_full_name)
    df_fema_no_missing.loc[index,'State_name'] = state_full_name

#### Let's bring State_name column close to the State abbriviation column

In [148]:
df_fema_no_missing = df_fema_no_missing[['Disaster Number', 
                                         'IH Program Declared', 
                                         'IA Program Declared',
       'PA Program Declared', 'HM Program Declared', 'State ','State_name',
       'Declaration Date', 'Disaster Type', 'Incident Type', 'Title',
       'Incident Begin Date', 'Incident End Date', 'Place Code',
       'Declared County/Area']]

In [170]:
df_fema_no_missing.head()

,Disaster Number,IH Program Declared,IA Program Declared,PA Program Declared,HM Program Declared,State,State_name,Declaration Date,Disaster Type,Incident Type,Title,Incident Begin Date,Incident End Date,Place Code,Declared County/Area
0,4419,Yes,No,Yes,Yes,AL,Alabama,2019-03-05 17:33:00,DR,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",2019-03-03 00:01:00,2019-03-03 23:59:00,99081.0,Lee (County)
1,4418,No,No,Yes,Yes,WA,Washington,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99009.0,Clallam (County)
2,4418,No,No,Yes,Yes,WA,Washington,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99027.0,Grays Harbor (County)
3,4418,No,No,Yes,Yes,WA,Washington,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99029.0,Island (County)
4,4418,No,No,Yes,Yes,WA,Washington,2019-03-04 14:38:00,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",2018-12-10 00:00:00,2018-12-24 00:00:00,99031.0,Jefferson (County)